$white: #e0e0e0;
$white-two: #f7f7f7;
$white-four: #ffffff;
$white-five: #d2d2d2;
$algae: #56b467;
$warm-grey: #8c8c8c;
$dark-sky-blue: #55acee;
$black-two: #333333;
$dark: #242a42;
$white-six: #dddddd;
$greeny-blue: #4eb495;
$black-70: #292929;
$pale-grey: #f9fafd;
$white-Two: #e2e2e2;
$windows-blue-15: #3971c1;
